<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <title>Temperature client</title>
    <body>
        <div class="container col-md-offset-2 col-md-8">
            <div class="panel panel-default" id="panel-temperature">
                <!-- Default panel contents -->
                <div class="panel-heading centre" id="panel-temperature-heading">Real time temperature</div>

                <!-- Table -->
                <table class="table" id="city-list">
                    <tr>
                        <th>City</th>
                        <th>Temperature(C)</th>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script>

    var changeStatus = function(className, msg){
        $('#panel-temperature').removeClass();
        $('#panel-temperature').addClass('panel '+className);
        $('#panel-temperature-heading').html(msg);
    }

    var socket = io.connect('http://localhost:8081');

    socket.on('connect', function(){
        changeStatus('panel-success', 'Connected to server');

        socket.emit('subscribe', {room:'client'});

        socket.on('temp-update', function(data){
            city = data.city.replace(/\s+/g, '-').toLowerCase();
            if ($('#'+city).length) {
                // if the element exists, then update its temperature value.
                $('#'+city+'-temp').html(data.temp);
            } else {
                // else, add the element inside city-list
                $('#city-list').append('<tr id="'+city+'"> <td id="'+city+'-city">'+data.city+'</td> <td id="'+city+'-temp">'+data.temp+'</td> </tr>');
            }
        });
    });
    socket.on('connect_failed', function(){
        changeStatus('panel-danger', 'Connection to server failed.');
    });

    socket.on('reconnect_attempt', function(){
        changeStatus('panel-warning', 'Attempting reconnection to server.');
    });

    socket.on('reconnect', function(){
        changeStatus('panel-success', 'Reconnected to server successfully.');
    });

    socket.on('reconnect_failed', function(){
        changeStatus('panel-danger', 'Reconnection failed: Looks like the server is down, please try again later');
    });
</script>